* {
    padding: 0;
    margin: 0;
}

body {

    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.full {
    padding: 50pxs;
    background-color: blanchedalmond;

}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    display: block;
    background-color: black;
    color: aliceblue;
}

.container1 {
    background-color: black;
    color: aliceblue;
    font-size: 60px;

}


.container2 {
    color: aliceblue;
    background-color: black;


}

.container3 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
text-decoration: none;
    display: inline;
    background: orange;
    color: aliceblue;

}

.time {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;


    color: black;
    padding: 10px;
}

.timey {
    display: inline-block;
    background-color: blueviolet;
    height: 150px;
    border-radius: 10px;
    color: black;
    padding: 50px;
    vertical-align:top;
}

.time1,
time2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pro1 {
    margin-bottom: 10px;
}

.project {
    display: inline-block;
    background-color: orange;
    height: 150px;
    
    border-radius: 10px;
    color: black;
    padding: 50px;
    vertical-align: top;
}

.social {
    display: block;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    color:aliceblue;
    margin-top: 10px;
    
    margin-bottom: 10px;
    
}
.fully{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.comy,.fromy,.comy1{
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.comy{
    padding:10px;
    border:none;
    border-bottom: solid black 1px;
    
}
.comy1{
    border:none;
    border-bottom: black ;
    padding: 10px;
}
.comy2{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:none;
    background-color: brown;
    margin-left: 60px;
    margin-top: 10px;

}